
<MudStack Class="pa-10" AlignItems="AlignItems.Center">
    <div class="pa-10 mt-5"></div>
    <MudStack Row="true">
        <MudText Typo="Typo.h3"><b>Loading</b></MudText>
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </MudStack>
    <div class="pa-10 mt-5"></div>
</MudStack>

@code {

}
