@page "/about"

<!--  Top App Bar  -->
<MudAppBar Elevation="7" Color="Color.Primary">
    <LogoAppBar />
    <MudStack Row="true" Justify="Justify.FlexEnd" Style="width: 70%">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="color: white;" DisableElevation="true" DisableRipple="true"
                   Href="/" StartIcon="@Icons.Material.Filled.Home">Home</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="color: white;" DisableElevation="true" DisableRipple="true"
                   Href="https://github.com/echemdb" StartIcon="@Icons.Custom.Brands.GitHub">GitHub</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="color: white;" DisableElevation="true" DisableRipple="true"
                   Href="https://echemdb.github.io/unitpackage/index.html" StartIcon="@Icons.Custom.FileFormats.FileDocument">Documentation</MudButton>
        <ThemeButton />
    </MudStack>
</MudAppBar>

<MudStack Class="pa-10" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack Class="ml-10 mr-10" Style="max-width:800px;">
        <MudText Typo="Typo.h4"><b>About the project</b></MudText>
         <MudText Typo="Typo.h6" Style="text-align: justify;">
            The echemdb projects aim at standardizing experimental and theoretical 3D or time series data according to the 
            <MudLink Typo="Typo.h6" Href="https://www.go-fair.org/fair-principles/">FAIR principles</MudLink>.
            Ultimately, this approach allows for a seamless comparison of published data with laboratory-derived data and theoretical models.
         </MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            Key issues for compliance with the FAIR principles are that many research areas lack (i) metadata standards and (ii) published data
            is mostly inaccessible or not machine-readable. More specifically, research data often stored as CSV usually do not contain information
            on the units of the axis/columns or contain metadata annotating and describing the data.
        </MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            To solve these issues, in a first step the authors of echemdb limit themselves to a popular research field of electrochemistry.
            In recent decades, the study of the electrochemical properties of well-defined single crystal electrodes by cyclic voltammetry has
            played a crucial role in the fundamental understanding of more complex three dimensional systems found in more applied research areas
            or even in application. These materials are very well defined and the measurement principle is also well established within the community.
            The validity of our approach to other research areas is illustrated <MudLink Typo="Typo.h6" Href="https://echemdb.github.io/rawtofigure/intro.html">here</MudLink>.
        </MudText>

        <MudText Class="mt-5" Typo="Typo.h4"><b>Standardization</b></MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            To standardize CSV data the authors of echemdb adopt the <MudLink Typo="Typo.h6" Href="https://specs.frictionlessdata.io/data-package/#introduction">frictionless datapackage</MudLink> 
            structure. According to frictionless a data package consists of:
        </MudText>
        <MudText Class="ml-3" Typo="Typo.h6" Style="text-align: justify;">
            <ul>
                <li><b>•</b> Metadata that describes the structure and contents of the package</li>
                <li><b>•</b> Resources such as data files that form the contents of the package</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            The Data Package metadata is stored in a “descriptor”.
        </MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            The echemdb authors augmented the frictionless schema, by adding
        </MudText>
        <MudText Class="ml-3" Typo="Typo.h6" Style="text-align: justify;">
            <ul>
                <li><b>•</b> units, allowing for simple unit transformations or data manipulation.</li>
                <li><b>•</b> metadata describing a resource within the package.</li>
            </ul>
        </MudText>
        
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            The metadata describes for example the <MudLink Typo="Typo.h6" Href="https://github.com/echemdb/metadata-schema/blob/main/examples/objects/system.yaml">electrochemical system</MudLink>, 
            which contains detailed information about the electrodes or the components of the electrolyte. The metadata also contains information on the curation process, i.e., who 
            was the experimentalist, a URL to an entry in an electronic laboratory notebook (ELN), or details on the experimental set-up. 
            The <MudLink Typo="Typo.h6" Href="https://github.com/echemdb/metadata-schema">JSON metadata schema</MudLink> is developed as a separate project.
        </MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            By following this approach, a set of datapackages forms a collection. The entries of such a collection are displayed in different forms on this website based 
            on the available descriptors. A <MudLink Typo="Typo.h6" Href="https://echemdb.github.io/unitpackage/">Python API</MudLink> provides direct access to the
            entries of such a collection, enabling more specific filtering, and enabling seamless integration into existing workflows.
        </MudText>
        
        <MudText Class="mt-5" Typo="Typo.h4"><b>Reusability</b></MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            In order to improve the reusability of published data, the authors of echemdb created <MudLink Typo="Typo.h6" Href="https://echemdb.github.io/svgdigitizer/">svgdigitizer</MudLink>, 
            a tool allowing for digitizing any kind of published 2D plots from carefully prepared SVG files. This approach has some superior functionalities compared to other tools, 
            for example, allowing to extract units from the axis labels or reconstructing a time axis based on a given scan rate. Modules for specific types of plots, such as the 
            <MudLink Typo="Typo.h6" Href="https://echemdb.github.io/svgdigitizer/workflow.html">electrochemistry module</MudLink> offers convenience functionality, and allow extracting 
            additional properties such as the reference potential of a potential axis. By providing a set of metadata, the digitized data can directly be stored as a 
            <MudLink Typo="Typo.h6" Href="https://echemdb.github.io/unitpackage/">unitpackage</MudLink>.
        </MudText>

        <MudText Class="mt-5" Typo="Typo.h4"><b>Contribute</b></MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            Contributions are always welcome and do not necessarily require programming skills. Please <MudLink Typo="Typo.h6" Href="https://github.com/orgs/echemdb/discussions">leave us a message</MudLink>
            if you are interested in contributing to the echemdb.
        </MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            You could get started by <MudLink Typo="Typo.h6" Href="https://echemdb.github.io/svgdigitizer/workflow.html">digitizing some published data</MudLink> in your area of research or by extending 
            any of the pages of the <MudLink Typo="Typo.h6" Href="https://echemdb.github.io/website/">echemdb website</MudLink>. If your interest is outside of cyclic voltammograms or electrochemistry, 
            we would also be thrilled to hear about your ideas to extend these projects to other areas.
        </MudText>

        <MudText Class="mt-5" Typo="Typo.h4"><b>What’s next</b></MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            We anticipate developing additional tools which help in generating unitpackages or allow for interacting with 
            <MudLink Typo="Typo.h6" Href="https://echemdb.github.io/unitpackage/">unitpackages</MudLink>. The latter comprises common tools for the evaluation 
            of electrochemical data. We also plan to include other electrochemical data from methods other than cyclic voltammetry in our database, including data which 
            have been recorded concomitantly, such as disc electrode currents or mass spectrometry signals.
        </MudText>

        <MudText Class="mt-5" Typo="Typo.h4"><b>Contact</b></MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            The authors of echemdb are from the fields of experimental and theoretical physical chemistry, as well as from computer science and mathematics.
        </MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            Ideas and suggestions, tell us more on our <MudLink Typo="Typo.h6" Href="https://github.com/orgs/echemdb/discussions">discussion board</MudLink>.
        </MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            Reach individual contributors on the <MudLink Typo="Typo.h6" Href="https://github.com/echemdb">GitHub organization</MudLink>.
        </MudText>
        <MudText Typo="Typo.h6" Style="text-align: justify;">
            Discuss and stay up to date on <MudLink Typo="Typo.h6" Href="https://echemdb.zulipchat.com/">echemdb.zulipchat.com</MudLink>.
        </MudText>
    </MudStack>
</MudStack>
@code {

}
